<div class="container">
  <EW-card-view></EW-card-view>
  <hr />
  <EW-card-view [direction]="'RTL'"></EW-card-view>
  <hr />
  <EW-card-view></EW-card-view>
  <hr />
  <EW-card-view [direction]="'RTL'"></EW-card-view>
  <hr />
  <EW-card-view></EW-card-view>
  <hr />
  <EW-card-view [direction]="'RTL'"></EW-card-view>
  <hr />
  <EW-card-view></EW-card-view>
  <hr />
  <EW-card-view [direction]="'RTL'"></EW-card-view>
  <hr />
  <EW-card-view></EW-card-view>
  <hr />
  <EW-card-view [direction]="'RTL'"></EW-card-view>
  <hr />
  <EW-card-view></EW-card-view>
  <hr />
  <EW-card-view [direction]="'RTL'"></EW-card-view>
  <hr />
</div>
