<div class="container">
  <div class="row mt-5">
    <div class="col-6">
      <img
        src="../../../../assets/backgrounds/signin.svg"
        class="signUpBackground"
        alt=""
      />
    </div>
    <div class="col-6 text-center">
      <div class="display-4 ml-auto">sign up</div>
      <form class="col mt-4" [formGroup]="form">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>username</mat-label>
          <input matInput type="text" formControlName="username" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
        <button
          mat-raised-button
          class="btn btn-primary mr-5 ml-5"
          [disabled]="form.invalid"
          (click)="onSignUp()"
        >
          sign up
        </button>
        <mat-label class="m-2"
          >you do have an account?
          <a href="/register/sign-in">sign in!</a></mat-label
        >
      </form>
    </div>
  </div>
</div>
