// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$experience-weblog-primary: mat-palette($mat-indigo);
$experience-weblog-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$experience-weblog-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$experience-weblog-theme: mat-light-theme(
  (
    color: (
      primary: $experience-weblog-primary,
      accent: $experience-weblog-accent,
      warn: $experience-weblog-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($experience-weblog-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-color {
  &-blue {
    color: #007bff;
  }
  &-indigo {
    color: #6610f2;
  }
  &-purple {
    color: #6f42c1;
  }
  &-pink {
    color: #e83e8c;
  }
  &-red {
    color: #dc3545;
  }
  &-orange {
    color: #fd7e14;
  }
  &-yellow {
    color: #ffc107;
  }
  &-green {
    color: #28a745;
  }
  &-teal {
    color: #20c997;
  }
  &-cyan {
    color: #17a2b8;
  }
  &-white {
    color: #fff;
  }
  &-gray {
    color: #6c757d;
  }
  &-gray-dark {
    color: #343a40;
  }
  &-primary {
    color: #007bff;
  }
  &-secondary {
    color: #6c757d;
  }
  &-success {
    color: #28a745;
  }
  &-info {
    color: #17a2b8;
  }
  &-warning {
    color: #ffc107;
  }
  &-danger {
    color: #dc3545;
  }
  &-light {
    color: #f8f9fa;
  }
  &-dark {
    color: #343a40;
  }
}
